---
import * as Icons from "simple-icons";

const frontend = [
  { label: "JavaScript", icon: Icons.siJavascript },
  { label: "TypeScript", icon: Icons.siTypescript },
  { label: "Html5", icon: Icons.siHtml5 },
  { label: "CSS", icon: Icons.siCss },
  { label: "Tailwind", icon: Icons.siTailwindcss },
  { label: "bootstrap", icon: Icons.siBootstrap },
  { label: "React", icon: Icons.siReact },
  { label: "Vue", icon: Icons.siVuedotjs },
  { label: "Astro", icon: Icons.siAstro },
  { label: "Vite", icon: Icons.siVite },
];

const frontendLoop = [...frontend, ...frontend];

const backend = [
  { label: "Node.js", icon: Icons.siNodedotjs },
  { label: "Express.js", icon: Icons.siExpress },
  { label: "Firebase", icon: Icons.siFirebase },
  { label: "JSON", icon: Icons.siJson },
  { label: "Next.js", icon: Icons.siNextdotjs },
];

const backendLoop = [...backend, ...backend, ...backend, ...backend];

const others = [
  { label: "Kotlin", icon: Icons.siKotlin },
  { label: "Python", icon: Icons.siPython },
  { label: "Streamlit", icon: Icons.siStreamlit },
  { label: "GDScript", icon: Icons.siGodotengine },
  { label: "Lua", icon: Icons.siLua },
];

const othersLoop = [...others, ...others, ...others, ...others];
---

<section id="skills" class="skills-section" data-reveal>
  <h2 class="section-title">Skills</h2>
  <div class="marquee-container">
    <h3>Frontend</h3>
    <div class="marquee">
      {
        frontendLoop.map((skill) => (
          <div class="skill-item">
            <svg
              class="skill-icon"
              role="img"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path d={skill.icon.path} fill="currentColor" />
            </svg>
            <span>{skill.label}</span>
          </div>
        ))
      }
    </div>
  </div>
  <div class="marquee-container backend">
    <h3>Backend</h3>
    <div class="marquee">
      {
        backendLoop.map((skill) => (
          <div class="skill-item">
            <svg
              class="skill-icon"
              role="img"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path d={skill.icon.path} fill="currentColor" />
            </svg>
            <span>{skill.label}</span>
          </div>
        ))
      }
    </div>
  </div>
  <div class="marquee-container others">
    <h3>Others</h3>
    <div class="marquee">
      {
        othersLoop.map((skill) => (
          <div class="skill-item">
            <svg
              class="skill-icon"
              role="img"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path d={skill.icon.path} fill="currentColor" />
            </svg>
            <span>{skill.label}</span>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .skills-section {
    padding: 4rem 2rem;
    text-align: center;
  }

  .skills-section h2 {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .marquee-container {
    overflow: hidden;
    background: #2c2c2c;
    padding: 1rem 0;
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
    mask-image: linear-gradient(
      90deg,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
    margin-bottom: 1rem;
    h3 {
      padding: 0 0 1em;
      width: 100%;
      letter-spacing: 2px;
    }
  }

  .marquee {
    display: flex;
    width: max-content;
    animation: scroll 25s linear infinite;
    will-change: transform;

    & > .skill-item {
      transition: 0.2s ease-out;
    }
    &:hover > .skill-item:hover {
      transform: scale(1.1);
    }
    &:hover > .skill-item:not(:hover) {
      opacity: 0.4;
    }
  }

  .backend .marquee {
    animation-duration: 25s;
    animation-direction: reverse;
  }

  .marquee:hover {
    animation-play-state: paused;
  }

  .skill-item {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.65rem;
    flex-shrink: 0;
    padding: 0.75rem 1.5rem;
    background: var(--aero-black);
    border-radius: 15px;
    color: white;
    font-weight: 500;
    white-space: nowrap;
    border: 1px solid var(--faint-border);
    box-shadow: 0 5px 5px rgb(24, 24, 24);
    transition: 0.2s;
    font-size: 1.2rem;
    min-width: 120px;
    margin-right: 1rem;
  }

  .skill-item::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    z-index: -1;
    background: var(--aero-blue);
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }

  .skill-item:hover::after {
    opacity: 1;
  }

  .skill-item span {
    color: white;
  }

  .skill-icon {
    color: white;
    height: 2.3rem;
    aspect-ratio: 1;
    flex-shrink: 0;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
